#dice
{
  width: 200px;
  height: 200px;
  display: block;
  margin: 20px auto;
}
#rollbutton
{
  display: block;
 
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
#dr
{
  text-align:center;
}
.container
{
  background-color: skyblue;
}
body{
   background-color: skyblue;

}